@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


/*--------RESET------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.grilla{
    width: 100%;
    margin: 0 auto;
    font-family:Montserrat, sans-serif; 
    font-style: normal;
    color:#ffffff;
    display: grid;
    grid-template-columns: repeat (3, 1fr);
    grid-template-rows: 130px 40px auto auto;
    grid-template-areas: 
    "header header header"
    "nav nav nav"
    "main main main"
    "footer footer footer";
}    
/*------------header ----------*/
.encabezado {
    background-image: url("../img/fondo.png");
    Background-repeat: no-repeat;
    background-position: 0px 0px;
    top: 0px;
    position: sticky;
    z-index: 10;
    font-size: 17px; 
    line-height: 25px; 
    grid-area: header;
}

.encabezado img {
    padding-left: 5px;
    padding-top: 0px;
}

.menu {
    padding-top: 25px;
    grid-area: nav;
}

.menu ul {
    padding: 13px;
    background-color: #3A89B6;
    list-style: none;
    text-align: left;     
    display: flex;
    justify-content: right;
    align-items: center;
}

.menu ul li a {
    padding: 15px;
    text-decoration: none;
    color:#ffffff;
}

.menu ul li a:hover {
    background-color: white;
    color:rgb(32,66,122);
    font-weight: 600;
}

.menu ul li a:active{
    text-decoration: underline;
}

/*------------Index------------*/
.principal {
    background-color: rgb(32,66,122);
    font-family: Montserrat, sans-serif; 
    font-size: 12px; 
    font-style: normal;
    line-height: 25px; 
    color:#ffffff ;
    text-align: left; 
    grid-area: main;
}

.quees  {
    width: 100%;
    height: calc(100vh - 130px);   
    background-image: url(../img/inaugura.jpg);
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top: 0px;
}

.quees h2 {
    padding-top: 30px;
    margin-left: 50px;    
    text-align:left; 
    font-size: 30px;
    line-height: 40px; 
}

.quees p {
    margin-right: 40%;
    margin-top: 10px;
    margin-left: 50px;
    padding-left: 0px;
    font-weight: 400;
    font-size: 15px;
    font-style: normal;
    line-height: 20px; 
    text-align:left;
}

.principal div {
    display: flex;
    justify-content: space-between;
    align-items: center;
} 

.mision {
    background-color: rgb(32,66,122);
    padding-bottom: 10px;
}

.mision h2 {
    margin-top: 1px;
    margin-bottom: 1px;
    padding-top: 10px;
    padding-left: 30px;
    font-size: 25px;
    line-height: 30px; 
    text-align:left; 
}

.mision p {
    margin-right: 20%;
    margin-left: 30px;
    padding: 5px;
    text-align:left;
    font-size: 15px;
    font-weight: 300;
    line-height: 20px; 
    border-left: 2px #ffffff solid;
}

.vision {
    background-color: rgb(32,66,122);
    padding-bottom: 10px;
}

.vision h2 {
    margin-top: 1px;
    margin-bottom: 1px;
    padding-top: 10px;
    padding-right: 30px;
    font-size: 25px;
    font-style: normal;
    line-height: 30px; 
    text-align:right; 
    color:#ffffff; 
}

.vision p {
    margin-left: 10%;
    margin-right: 30px;
    padding: 5px;
    text-align:right;
    font-size: 15px;
    font-weight: 300;
    line-height: 20px; 
    border-right: 2px #ffffff solid;
}


/*------------Productos--------*/
.principal-productos {
    font-family: Montserrat, sans-serif; 
    font-size: 12px; 
    font-style: normal;
    line-height: 12px; 
    color:#000000 ;
    text-align: left; 
    grid-area: main;
}

.tes{ 
    margin-top: 0px;
    background-image: url("../img/fondo2.png");
    display: flex;
    justify-content:center;
    align-items: center;
}

.tes img{ 
    padding: 0px 0px 0px 10 px;
    box-shadow: 10px 10px 38px -4px #000000;
    width: 40%;
    height: 40%;
}

.tes img:hover {
    filter: opacity(.5);
}

.tes div{ 
    width: 40%;
}

.tes H2{ 
    padding: 0px 10px 10px 2px;
    font-size: 35px;
    font-weight: 600;    
    text-align: left;  
    line-height: 35px;  
    margin: 0px;
}

.tes p{
    padding: 0px 10px 0px 5px;
    font-weight: 500;    
    text-align: left;  
    word-spacing: 1px;
    line-height: 20px;   
    border-left: 2px #3A89B6 solid;
    margin: 0px;
}

.licuados{ 
    background-image: url("../img/fondo2.png");
    font-style: normal;
    display: flex;
    justify-content:center;
    align-items: center;
}

.licuados img{ 
    box-shadow: 10px 10px 38px -4px #000000;
    width: 40%;
    height: 40%;
}

.licuados img:hover {
    filter: opacity(.5);
}

.licuados div{
    width: 40%;
}

.licuados H2{ 
    padding: 10px 5px 10px 0px;
    font-size: 35px;
    font-weight: 600;    
    text-align: right;  
    line-height: 35px;  
    margin: 0px;
}

.licuados p{ 
    margin: 0px;
    padding-left: 15px;
    padding-right: 10px;    
    font-weight: 500;    
    text-align: right;  
    word-spacing: 1px;
    line-height: 20px;   
    border-right: 2px #3A89B6 solid;
}

.promos{ 
    background-image: url("../img/fondo2.png");
    font-style: normal;
    display: flex;
    justify-content:center;
    align-items: center;
}

.promos img{ 
    box-shadow: 10px 10px 38px -4px #000000;
    width: 40%;
    height: 40%;
}

.promos img:hover {
    filter: opacity(.5);
}

.promos div{
    width: 40%;
}

.promos H2{ 
    padding: 10px 10px 10px 2px;
    font-size: 35px;
    font-weight: 600;    
    text-align: left;  
    line-height: 35px;   
    margin: 0px;
}

.promos H3{
    padding-left: 15px;
    font-size: 12px;
    border-left: 2px #3A89B6 solid;
    margin: 0px;
}    

.promos p{ 
    padding-left: 20px;
    padding-right: 10px;    
    font-weight: 500;    
    text-align: left;  
    word-spacing: 1px;
    line-height: 20px;  
    border-left: 2px #3A89B6 solid;
    margin: 0px;
}

/*------------Eventos--------*/

.principal-eventos {
    background-image: url("../img/fondo2.png");
    grid-area: main;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 15px 0px 30px 0px;
}

.principal-eventos h2 { 
    text-align: center;
    margin-top: 20px;
}


.principal-eventos .tarjetas { 
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-wrap: wrap;
}


/*------------Galería--------*/
.principal-galeria {
    grid-area: main;
    background-image: url("../img/fondo2.png");
}

h2{ 
    padding: 30px 5px 10px 0px;
    font-size: 35px;
    font-weight: 600;    
    text-align: center;  
    line-height: 35px;
    color: #000000;
    margin: 0px;
}

p{ 
    margin: 0px;
    padding-left: 15px;
    padding-right: 10px;    
    font-weight: 500;    
    text-align: center;  
    word-spacing: 1px;
    line-height: 20px;   
    color: #000000;
}

.principal-galeria .productos {    
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-wrap: wrap;
}
.item{
    margin: 10px;
    background-color: rgb(32,66,122);
    border: 2px rgb(32,66,122) solid;    
} 

.item:hover img{
    -webkit-transform:scale(1.3);transform:scale(1.3);
}

.item:hover {
    background-color: #3A89B6;
    border: 2px #3A89B6 solid; 
    overflow:hidden;
} 


.principal-galeria div div img{
    width: 300px;
    height: 300px;
    box-shadow: 10px 10px 38px -4px  #000000;
} 

.principal-galeria div div h2{
    font-size: 20px;  
    color: #ffffff;
    font-size: 20px;
    font-weight: 300; 
    text-align: center;
} 


/*------------Contacto--------*/
.principal-contacto {
    grid-area: main;
    color:#ffffff; 
}

form { 
    margin-left: 40%;
    margin-right: 45%;    
    color:#ffffff; 
}

.formulario {
    background-color: rgb(32,66,122);
    font-size: 15px;
    font-style: normal;
    letter-spacing: 0px;
    word-spacing: 1px;
    line-height: 30px; 
    color:#ffffff; 
}

.formulario h1 {
    padding-top: 50px;
    font-size: 35px;
    font-weight: 500;    
    text-align: left;  
    line-height: 35px;  
    text-align:center; 
    color:#ffffff;   
    }

.formulario p {
    margin-left: 20%;
    margin-right: 20%;
    padding: 15px;
    text-align:center;
    line-height: 18px;    
    color:#ffffff;  
}

.formulario .botones  {
    background-color: #3A89B6; 
    border: none;
    border-radius: 8px;
    color: rgb(255, 255, 255);
    padding: 10px 10px;
    margin: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    font-weight: 500;    
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); 
}

.formulario .botones:hover {
    background-color: #3a89b6ca;  
    font-weight: 600;    
}

.formulario .botones:active {
    background-color: #3a89b6ca;  
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}


/*------------Footer----------*/
.pie {
    grid-area: footer;    
    background-color: rgb(32,66,122);
    border-top: 2px #ffffff solid;    
    font-size: 15px;
    padding: 15px;
    text-align:left; 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.pie h2 {
    font-style: normal;    
    font-size: 25px;
    text-align:left; 
    padding: 10px;
}

.pie a {
    font-size: 13px;
    color: #ffffff;
    padding: 10px;
}

.pie a:active {
    color: gray;
    text-decoration-line: underline;

}

/*------------MEDIA----------*/
/*------------Media 899----------*/
@media screen and (max-width: 899px) {

    /*------------Index----------*/
    .grilla {
        grid-template-columns: repeat (2, 1fr);
        grid-template-rows: 130px 40px auto auto;
        grid-template-areas: 
        "header header"
        "nav nav"
        "main main"
        "footer footer";
    }  

    .mision h2 {
        padding-left: 25px;
    }
    
    .mision p {
        margin-right: 0%;
        margin-left: 15px;
        font-size: 13px;
    }
    
    .vision h2 {
        padding-right: 25px;
    }
    
    .vision p {
        margin-left: 0%;
        margin-right: 15px;
        font-size: 13px;
    }    

/*------------productos----------*/
    .principal-productos{
        padding-right: 10px;
        padding-bottom: 5px;
        padding-left: 2px; 
    }

    .tes h2{ 
        font-size: 28px;
        line-height: 28px; 
    }
    
    .tes p{
        font-size: 12px;
        line-height: 20px; 
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .licuados h2{ 
        font-size: 28px;
        line-height: 28px;   
    }
    
    .licuados p{
        font-size: 12px;
        line-height: 20px;   
    }

    .promos h2{ 
        font-size: 28px;
        line-height: 28px;   
    }
    
    .promos p{
        font-size: 12px;
        line-height: 20px;   
    }

    .pie {
        font-size: 25px;   
    } 
}

/*------------Media 797----------*/
@media screen and (max-width: 797px) {
/*------------Index----------*/
    .grilla {
        grid-template-columns:  1fr;
        grid-template-rows: 130px 40px auto auto;
        grid-template-areas: 
        "header"
        "nav"
        "main"
        "footer";
        }  

    .quees  {
        width: 100%;
        height: calc(100vh - 130px);   
        background-image: url(../img/entrada_koena.jpg);
        background-position: 0px 270px;
    }
        
    .principal div { 
        flex-direction: column;
        .vision h2 {
        padding-left: 25px;
        text-align: left;
        }
    }         
    .vision p {
        margin-left: 15px;
        text-align: left;
        border-left: 2px #ffffff solid;
        border-right: none;
    }        


/*------------Productos----------*/
    .tes { 
        flex-direction: column;
        background-position: 0px 270px;
    }
    
    .tes div{ 
        margin: 0px 0px 10px 0px;     
        width: 60%;
    }    
    .tes img{ 
        width: 60%;
    } 
    .tes h2{ 
        margin: 20px 80px 10px 0px;
        padding-bottom: 3px;
    }
    .tes p{ 
        padding-bottom: 5px;
    }

    .licuados { 
        flex-direction: column;
        flex-flow:column-reverse;
        }
    .licuados div{ 
        margin: 0px 0px 10px 0px;
        width: 60%;
    }        
    .licuados img{ 
        width: 60%;
    }     
    .licuados h2{ 
        margin: 20px 20px 10px 0px;
        padding-bottom: 3px;
    }

    .promos { 
        flex-direction: column;
        }
    .promos div{ 
        margin: 0px 0px 10px 0px;
        width: 60%;
    }
    .promos img{ 
        width: 60%;
    } 

    .pie {
        flex-direction: column;
        }

/*------------Galería----------*/
    .item {    
        align-items: left;
    }
}

/*------------Contactos----------*/
.formulario h2{
    margin-left: 20%;
    margin-right: 20%;
    padding: 20px 0 10px 0;
    font-size: 28px;
}     

.formulario p{
    margin-left: 10%;
    margin-right: 10%;
    padding: 5px 0 10px 0;
    font-size: 12px;
} 

form {   
    margin-left: 40%;
    margin-right: 40%;
    padding: 10px 0 10px 0;
    font-size: 12px;        
} 

.formulario .botones  {
    font-size: 10px;
    font-weight: 300;  
    padding: 3px 3px;
    margin: 5px 5px;  
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); 
}



/*------------Media 511----------*/
@media screen and (max-width: 511px) {
/*------------Index----------*/
    .menu ul {
        flex-direction: column;
        flex-wrap: wrap;
        text-align: center;     
        justify-content:space-between;
        align-items: center;
        box-sizing: content-box;
    }

    .menu ul li a:hover {
        background-color:transparent ;
        color:rgb(32,66,122);
        font-weight: 600;
    }

    .grilla{
        grid-template-rows: 230px 40px auto auto;
    }   
    .quees  {
        width: 100%;
        height: calc(100vh - 230px);   
        background-image: url(../img/entrada3.jpg);
        background-size:cover;
        background-position: 0px 270px;
    }

    .vision {
        width: 100%;
    }

    .vision h2 {
        padding-left: 15px;
    }
        
    .vision p {
        margin-left: 15px;
    }  

/*------------Productos----------*/
    .principal-productos{
    box-sizing: content-box;
    padding-top: 100px;
    padding-left: 0px;
    } 

    .tes { 
        padding:10px;
    }
    
    .tes div{ 
        width: 75%;
    }    
    .tes img{ 
        width: 75%;
    }    

    .licuados { 
        padding:10px;
    }
    .licuados div{ 
        width: 75%;
    }    
    .licuados img{ 
        width: 75%;
    }    

    .promos { 
        padding:10px;
    }
    .promos div{ 
        width: 75%;
    }    
    .promos img{ 
        width: 75%;
    }    

/*------------Eventos----------*/
    .principal-eventos{
        padding-top: 20px;
    } 

/*------------Galería----------*/
    .principal-galeria {
        background-image: url("../img/fondo2.png");
    }
    
    .principal-galeria .productos {    
        justify-content:space-around;
        align-items: center;
        flex-wrap: wrap;
        padding-top: 100px;
    }

/*------------Contactos----------*/
    .formulario h2{
        margin-left: 10%;
        margin-right: 10%;
        padding: 20px 0 10px 0;
        font-size: 28px;
    }     
    
    .formulario p{
        margin-left: 10%;
        margin-right: 10%;
        padding: 5px 0 10px 0;
        font-size: 12px;
    } 

    form {   
        margin-left: 30%;
        margin-right: 30%;
        padding: 10px 0 10px 0;
        font-size: 12px;        
    } 

    .formulario .botones  {
        font-size: 10px;
        font-weight: 300;  
        padding: 3px 3px;
        margin: 5px 5px;  
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); 
    }
}