.pie {
    grid-area: footer;    
    background-color: nth($paleta-colores, 1);
    font-size: 15px;
    padding: 15px;
    text-align:left; 
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    div{
        margin: 10px 0px 0px 0px;
        text-align:left; 
        display: flex;
        justify-content: space-between;
        align-items:start;
        flex-direction: column;

        div h2 {
            margin-top: 30px;
            font-style: normal;    
            font-size: 25px;
            text-align:left; 
        }       
        div a {
            font-size: 13px;
            color: nth($paleta-colores, 3);
            transition: 2s;
        }  
            &:active {
                color: nth($paleta-colores, 5);
                text-decoration-line: underline;
                align-items: center;
            }    
            img {
                &:hover {
                transform: scale(1.3);                
            }
        }

    }   
}