.principal-productos{ 
    grid-area: main;    
    font-family: Montserrat, sans-serif; 
    font-size: 12px; 
    font-style: normal;
    line-height: 12px; 
    color:nth($paleta-colores, 4);
    margin-top: 0px;
    background-image: url("../img/fondo2.png");

    
    h1{
        @extend %h1Pages;
        text-align:center; 
    }

    .tes{
        display: flex;
        justify-content:center;
        align-items: center;
        div{
            width: 40%;
            h2{
                @extend %h2Productos;  
                text-align: left;  
            }
            p{
                @extend %pProductos;
                text-align: left;  
                border-left: 2px nth($paleta-colores, 2) solid;
            }
        }
        img{
            @extend %imgProductos;
            transition: opacity 2s ease;
            &:hover{
                opacity: 0.5;
            }  
        }
    }  
    .licuados{
        background-image: url("../img/fondo2.png");
        font-style: normal;
        display: flex;
        justify-content:center;
        align-items: center;
        div{
            width: 40%;
            h2{
                @extend %h2Productos; 
                text-align: right;  
            }
            p{
                @extend %pProductos;
                text-align: right;  
                border-right: 2px nth($paleta-colores, 2) solid;
            }
        }
        img{    
            @extend %imgProductos;
            transition: opacity 2s ease;
            &:hover{
                opacity: 0.5;
            }    
        }
    }  
    .promos{
        background-image: url("../img/fondo2.png");
        font-style: normal;
        display: flex;
        justify-content:center;
        align-items: center;
        margin-bottom: 15px;
        div{
            width: 40%;
            h2{
                @extend %h2Productos;  
                text-align: left;  
            }
            h3{
                padding-left: 15px;
                font-size: 12px;
                border-left: 2px nth($paleta-colores, 2) solid;
                margin: 0px;
                text-align: left;  
            }
            p{
                @extend %pProductos;
                text-align: left;  
                border-left: 2px nth($paleta-colores, 2)solid;                
            }
        }
        img{ 
            @extend %imgProductos;
            transition: opacity 2s ease;
            &:hover{
                opacity: 0.5;
            }
        }
    }    
}